{% extends 'shared/_layout.html' %}
{% load thumbnail %}
{% load render_partial %}
{% block title %}
    مقالات
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-9">
                    <div class="blog-post-area">
                        <h2 class="title text-center">آخریـن مقالات</h2>
                        {% for article in object_list %}
                            <div class="single-blog-post">
                                <h3>{{ article.title }}</h3>
                                <div class="post-meta">
                                    <ul>
                                        {% if article.author %}
                                            <li><i class="fa fa-user"></i>{{ article.author }}</li>
                                        {% else %}
                                            <li><i class="fa fa-user"></i>{{ article.author.email }}</li>
                                        {% endif %}
                                        <li><i class="fa fa-clock-o"></i>{{ article.CreatedTime }}</li>
                                        <li><i class="fa fa-calendar"></i>{{ article.CreatedDate }}</li>
                                    </ul>
                                </div>
                                <a href="">
                                    {% thumbnail article.image "862x398" quality=90 crop='center' as im %}
                                        <img src="{{ im.url }}">
                                    {% endthumbnail %}
                                </a>
                                <p>{{ article.description }}</p>
                                <a class="btn btn-primary" href="{% url 'ArticleDetail' pk=article.id %}">ادامـه
                                    مطلب</a>
                            </div>
                        {% endfor %}
                        <br>
                        {% if page_obj.has_next or page_obj.previous_page_number %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li><a href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
                                {% endif %}

                                {% for PageNumber in paginator.page_range %}
                                    <li class="{% if page_obj.number == PageNumber %}active{% endif %}"><a
                                            href="?page={{ PageNumber }}">{{ PageNumber }}</a></li>
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li><a href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>

                </div>
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        {% render_partial 'articles_module.views.article_categories_component' %}
                        {% for banner in banners %}
                            <div class="shipping text-center"><!--shipping-->
                                {% thumbnail banner.image "270x329" quality=100 crop='center' as im %}
                                    <a href="{{ banner.url }}"><img src="{{ im.url }}"></a>
                                {% endthumbnail %}
                            </div><!--/shipping-->
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
    </section>
{% endblock %}