<h2>دسته بندی مقالات</h2>
<div class="panel-group category-products" id="accordian"><!--category-productsr-->
    {% for category in main_categories %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <li><a href="{% url 'ArticleByCategory' pk=category.id %}"><span
                            class="pull-left">({{ category.article_count }})</span>{{ category.title }}</a>
                    </li>
                </h4>
            </div>
        </div>
    {% endfor %}
</div><!--/category-productsr-->
