{% extends 'shared/_layout.html' %}
{% block title %}
    بازیابی رمز عبور
{% endblock %}

{% block content %}
    <div class="container">
        <section id="form"><!--form-->
            <div class="row">
                <div class="forget-password">
                    <div class="col-sm-6">
                        <div class="login-form"><!--Recovery form-->
                            <h2>لطفاً آدرس ایمیـل خود را وارد نماییـد :</h2>
                            <form action="{% url 'ForgetPasswordPageUrl' %}" method="post">
                                {% csrf_token %}
                                {{ forget_pass.email }}
                                {{ forget_pass.email.errors }}
                                <button type="submit" class="btn btn-default">بازیابـی کلمـه عبـور</button>
                                {#                                <span>یک ایمیـل حاوی لینک بازیابی کلمـه عبـور برای شما ارسال خواهـد شد</span>#}
                            </form>
                        </div><!--/Recovery form-->
                    </div>
                    <div class="col-sm-6">
                        <div class="login-form"><!--login form-->
                            <h2>اطلاعات حساب خود را به یاد آوردید ؟! </h2>
                            <form action="{% url 'LogInPageUrl' %}" method="post">
                                {% csrf_token %}
                                {{ login_form.username.errors }}
                                {{ login_form.username }}
                                {{ login_form.password }}
                                <span>
									{{ login_form.checkbox }}
                                    {{ login_form.checkbox.errors }}
									مرا بخاطـر بسپـار
								</span>
                                <button type="submit" class="btn btn-default">ورود</button>
                            </form>
                        </div><!--/login form-->
                    </div>
                </div>
            </div>
        </section>

    </div>

{% endblock %}