{% extends 'shared/_layout.html' %}
{% block title %}
    ثبت نام / ورود
{% endblock %}

{% block content %}
    <div class="container">
        <section id="form"><!--form-->
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="login-form"><!--login form-->
                        <h2>ورود به حساب کاربـری :</h2>
                        <form action="{% url 'LogInPageUrl' %}" method="post">
                            {% csrf_token %}
                            {{ LogIn_form.username.errors }}
                            {{ LogIn_form.username }}
                            {{ LogIn_form.password }}
                            <span>
								{{ LogIn_form.checkbox.errors }}
								{{ LogIn_form.checkbox }}
								مرا بخاطـر بسپـار
							</span>
                            <span>
								<a href="{% url 'ForgetPasswordPageUrl' %}">رمـز عبـور خود را فراموش کرده ام</a>
							</span>
                            <button type="submit" class="btn btn-default">ورود</button>
                        </form>
                    </div><!--/login form-->
                </div>
                <div class="col-sm-1">
                    <h2 class="or">یا</h2>
                </div>
                <div class="col-sm-4">
                    <div class="signup-form"><!--sign up form-->
                        <h2>ثبت نام کاربـر جدیـد</h2>
                        <form action="{% url 'SingInPageUrl' %}" method="post">
                            {% csrf_token %}
                            {{ Register_form.username.errors }}
                            {{ Register_form.email.errors }}
                            {{ Register_form.password.errors }}
                            {{ Register_form.confirm_password.errors }}
                            {{ Register_form.username }}
                            {{ Register_form.email }}
                            {{ Register_form.password }}
                            {{ Register_form.confirm_password }}
                            <button type="submit" class="btn btn-default">ثبت نام</button>
                        </form>
                    </div><!--/sign up form-->
                </div>
            </div>
        </section>
    </div>
{% endblock %}